<div class="app">
  <div class="container">
    <div class="icon" ></div>
    <h1 class='title'>Angular Testing App</h1>
    <div class="render_div">
      <button class="btn" (click)="renderElements(1000)" >Render 1000</button>
      <button class="btn" (click)="renderElements(10000)">Render 10000</button>
      <button class="btn" (click)="renderElements(25000)">Render 25000</button>
      <button class="btn" (click)="renderElements(50000)">Render 50000</button>
    </div>
    <button class='btn' (click)="copyArray()">Copy Array</button>
    <button class="btn" (click)="editElements()">Edit Elements</button>
    <button class="btn" (click)="deleteElements()">Delete Elements</button>
    <div class="line" ></div>
    <ul class='list'>
    </ul>
  </div>
</div>