<div class="app">
  <div class="container">
    <div class="icon" ></div>
    <h1 class='title'>Angular Testing App</h1>
    <div class="render_div">
      <button class="btn" >Render 1000</button>
      <button class="btn" >Render 10000</button>
      <button class="btn" >Render 25000</button>
      <button class="btn" >Render 50000</button>
    </div>
    <button class='btn' >Copy Array</button>
    <button class="btn" >Edit Elements</button>
    <button class="btn" >Delete Elements</button>
    <div class="line" ></div>
    <ul class='list'>
    </ul>
  </div>
</div>